h1 {
    color: #161a15;
    font-family: "Lucida Sans";
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
    background-color: #F0F0F0
}
body {
    font-size: 11pt;
    font-family: Georgia;
}
table, th, td {
    border: 1px solid black;
}